@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  :root{
    --weed:orangered;
    --bright:#f0f0f0;
    --ghost-rider:#343434;
    --gothic:#191b17;
    --transition:all 0.5s ease-in-out;
}
html{
    scroll-behavior: smooth;
    -webkit-transition: all 14s ease;
        transition: all 14s ease;
  
}
body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}
.nav{
    z-index: 100;
    position: fixed;
}

.head{
    display: flex;
    justify-content: space-between;

}
.headin{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 0;
   
 
}
.orange{
    color: orangered;
    display: flex;
    flex-direction: row;
}
  ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.icons a:hover{
    color: orangered;
    transition:all ease 0.3s;
}
.menu li .ct{
    color: orangered;
    transition:all ease 0.3s;
    border-bottom: .1rem solid black;
}
#x{
    display: none;
}
.loader_all{
    width:100% ;
    height:100% ;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(6, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
.o-chatdisplay{
    width: 300px;
    height: 400px;
    background-color: rgb(97, 97, 97);
    position: fixed;
    z-index: 1200;
    right: 10px;
    bottom: 40px;
    border-radius: 10px;
    transition: all ease-in-out;
}
.o-chatdisplay .chat-cancel i{
    position:absolute;
    right: 20px;
    top: 15px;
}
.hd-chat{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    height: 50px;
    border-radius: 10px;
    padding: 1.4px;
}
.hd-chat h1{
    font-size: 1.4rem;
}
.m-chat{
    margin: 10px;
    height: 320px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color:white;
}
.o-chatdisplay{
    display: none;
}
.o-chatdisplay.comethou{
    display:initial;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes dont{
   100%{
        opacity: 1;
   }
    
}
.p-14{
    width: 100%;
    margin-top: 65px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
}

.st,
.waa{
width:100%;
}
.m-btn{
    display: flex;
    flex-direction: row;
    margin-top:30%;
    margin-left: 10%;
}
.online_chat i{
z-index: 1000;
position: fixed;
bottom: 23px;
right: 20px;
font-size: 4.1rem;
color: rgb(0, 110, 255);

}
.full-slider-box{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
 
}
.slider-text-container .f-slider-text .m-btn{
    margin-top: 31%;
}
.wabebe .opnin{
    color: #a09d9d;
}

.slider-text-container{
    height: 100%;
    width: 80%;
    display: flex;
    margin-left: 30%;
    margin-top:9%;
}
.wabebe{
    height: 100%;
    width: 80%;
    display: flex;
    margin-left: 11%;
    margin-top:4%;
}
.f-slider-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.f-slider-text strong{
    color: white;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
    
}
.f-slider-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #a09d9d;
    font-size: 1.2rem;
   
}
.wabebe .f-slider-text{
    text-align: center;
    color: #FFFFFF;
    
}
.wabebe .f-slider-text strong{
font-size:2rem;
}
.wabebe .f-slider-text strong font{
    color:rgb(0, 110, 255);
}
.f-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    background-color:#ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-right: 5%;
    text-decoration: none;
}
.f-btn:active,
.f-slider-btn:active{
    transform: scale(1.1);
}
.f-slider-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color:black;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-right: 5%;
    text-decoration: none;
}
.wabebe .f-slider-text strong font{
    color: #FFFFFF;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot:active, .dot:hover {
    background-color: #717171;
  }
  /*home-cut*/

.more{
    background: var(--bright);
}
.nviiri{
    opacity: .7;
    font-size: .9rem;  
    line-height: 1.1rem;
}
.more .item-content .ty{
    opacity: .7;
    font-size: .9rem;  
    line-height: 5rem;
}
.item-content{
    background: #fff;
    text-align:center;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow:0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow:0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 1rem 0;
    padding: 2.5rem 1.5rem;
    border-radius:4px;
    transition:var(--transition);
}

.item-content:hover{
    -webkit-box-shadow:0 21px 19px -2px rgba(217,217,217,1);
    -moz-box-shadow:0 21px 19px -2px rgba(217,217,217,1);
    box-shadow:0 21px 19px -2px rgba(217,217,217,1);
    transform:translateY(-5px);
}
.item-content span{
    font-size: 2.5rem;
}
.item-content h2{
    font-size: 1.4rem;
    opacity:0.8;
    font-weight: 300;
}
.line2{
    width:45px;
    margin:1.2rem auto;
    background: black;
    height: 2.5px;
}
.feature .box .row{
   margin-left: 40px;
   margin-right: 40px;
   display: flex;
   flex-direction: column;
}
.feature .abouti h2{
    text-align: Center;
    margin-bottom: 0px;
}
.feature .abouti{
    width:40%;
}
.feature .abouti .line5{
        width:45px;
        margin:1.2rem auto;
        background: black;
        height: 2.5px;
}
.feature .aboutstart{
    display: flex;
    justify-content: space-between;
}
.feature .aboutstart .divai img{
    width: 100%;
    height: 450px;
}
.feature .aboutstart .divai{
    width:50%;
}
.feature .aboutstart p{
    text-align: center;
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem; 
    margin-top: 20px;
}
.feature .f-item p{
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem;  
} 
.feature .kadogo-about .left{
    width:400px;
}
.feature .abouti .right{
    display: flex; 
    flex-direction: row;
    margin-top: 20px;
}
.feature .abouti .right .serv-icon a i{
    font-size: 1.5rem;
}
.feature .abouti .right .serv-icon{
    padding: 5px;
    height: 70px;

}
.sv-body{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  
}
.srv-heading{
    margin-top: 74px;
    margin-bottom: 65px;
    justify-content: center;
    text-align: center;
}
.sv-body .serv-icon{
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 80px;
}
.sv-body .serv-icon:hover .isize i{
    transform: scale(1.4); 
    transition: all ease-in-out .5s;
}
.intro-Audit,
.intro-Taxation,
.intro-Cloud,
.intro-Outsourcing{
    background-image: linear-gradient(90deg,rgb(0, 247, 255),blue);
    width: 100%;
    height: 150px;
    background-size: 140%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:1.5rem;
}
.intro-Audit p,
.intro-Taxation p,
.intro-Cloud p,
.intro-Outsourcing p
{
    color: white;
    font-size: 1.5rem;
    padding-top: 2rem;
    
}
.service-form .intro-Audit a:hover,
.service-form .intro-Taxation a:hover,
.service-form .intro-Outsourcing a:hover,
.service-form .intro-Cloud a:hover{
    color: rgb(0, 255, 251);
}

.intro-Audit a,
.intro-Taxation a,
.intro-Cloud a,
.intro-Outsourcing a
{
    color: white;  
}
.dr1,
.dr2{
    padding-right: 14px;
}
.dr2{
    display: none;
}
.intro-Audit a:hover .dr1,
.intro-Taxation a:hover .dr1,
.intro-Cloud a:hover .dr1,
.intro-Outsourcing a:hover .dr1
{
   display: none;
}
.intro-Audit a:hover .dr2,
.intro-Taxation a:hover .dr2,
.intro-Cloud a:hover .dr2,
.intro-Outsourcing a:hover .dr2{
    display: initial;
}

.intro-Audit p span,
.intro-Taxation p span,
.intro-Cloud p span,
.intro-Outsourcing p span
{
    color: rgb(0, 255, 251);
    padding-left:10px;
}
.first-Taxation,
.first-Audit,
.first-Cloud
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.first-Taxation h1,
.first-Audit h1,
.first-Cloud h1{
font-size: 1.5rem;
}
.first-Outsourcing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.ft-left,
.ft-right,
.fa-left,
.fa-right,
.fo-left,
.fo-center,
.fo-right,
.fc-left,
.fc-right{
    padding: 40px;
}

.bookform{
    width:100% ;
    height:100% ;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(6, 0, 0, 0.626);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
.bookfin{
    width: 400px;
    height: 92%;
    background-color: white;
    border-radius: 20px;
   margin:20px auto;
   overflow-y: scroll;
}
.bookfin::-webkit-scrollbar{
    display: none;
}
.b-hd{
    height: 40px;
    border-bottom: .7px solid #a7a7a7;
   
}
.b-hd h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 400
}
.b-body{
    padding-left: 20px;
    padding-top: 20px;
    position: relative;

}
.b-ser input{
margin-left: 30px;
border: none;
border-bottom: 1px solid #868686;
outline: none;
}
.b-com input{
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #868686;
    outline: none;
    }
.b-ema input{
        margin-left: 30px;
        border: none;
        border-bottom: 1px solid #868686;
        outline: none;
        }
.b-tel input{
            margin-left: 50px;
            border: none;
            border-bottom: 1px solid #868686;
            outline: none;
            }
.b-out{
    position: relative;
}
.b-out i{
    position: absolute;
 right:20px;
 top:10px;
}
.b-out i:hover{
    color:orangered
}
.b-body button{

    background-color: orangered;
    color: white;
    border: none;
    border-radius: 10px;
    width: 70px;
    height:40px;
    margin-bottom: 20px;
}
#dtask{
border:dashed #7b838a;
border-radius: 10px;
outline: none;
text-align: left;
padding: 10px 20px;
}
.bookfin,
.bookform{
    display: none;
}
.bookfin-active,
.bookfin-active .bookfin{
    display:inherit;
    animation: fade 0.3s;
}
.b-body div{
    margin-bottom: 10px;
}
/*scroll reveal for bookform*/
.bookform .kuanileft{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: all 3s ease-in;
}
.bookform .kuanileft.lleft{
    transform: translateX(0px);
    opacity: 1;
}
/*end reval for bppkform*/
.bookservice{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.bookservice button{
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: purple;
    width: 100px;
    height: 70px;
    color: white;
    border-radius: 20%;
    line-height: 1.5rem;
}
.right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  
}

.f-item{
    margin: 1.4rem 0;
    display:flex;
}
.f-item div h3{
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 1;
}
.f-item span{
    font-size: 1.1rem;
    color: #fff;
    background: var(--weed);
    align-self: flex-start;
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    margin-right: 1.4rem;
}
.serv-icon{
    text-align: center;
    justify-content: center;
    padding: 40px;
}
.serv-icon .isize{
    font-size: 3rem;
    color: black;

}
.serv-icon:hover .isize i{
    transform: scale(1.4); 
    transition: all ease-in-out .5s;
    color: orangered;
}
.fa-left p,
.fa-left li,
.ft-left p,
.ft-left li,
.fc-left p,
.fc-left li,
.fo-left p,
.fo-center li div p,
.fo-right li div p{
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem;  
}
.fo-center li div h1,
.fo-right li div h1{
font-size: 1rem;
}
.first-Outsourcing div li{
    list-style-type: none; 
    display: flex;
    
}
.first-Outsourcing div li i{
    padding-right: 11px;
}

.video{
    background-image: linear-gradient(rgba(85, 24, 104, 0.8), rgba(58, 12, 59, 0.7)), url(/img/homeimg/water2.png);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}
.video a{
    font-size: 2.2rem;
    color:#fff;
    width: 65px;
    height:65px;
    border-radius: 50%;
    background-color: var(--weed);
    padding-left:7px;
    margin:0 auto;
}
.video a:hover{
    background-color:#fff; 
    color: var(--weed);
}
.video h2{
    font-size:2rem;
    color: var(--bright);
    padding: 1.2rem 0;
}
.video p{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--bright);
    opacity: 0.7;
}
.vid-bg{
    width:100% ;
    height:100% ;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(6, 0, 0, 0.626);
    display: flex;
    z-index: 102;
    flex-direction: column;
}
.lyt{
    color: #f9f9f9;
    font-size: 1.8rem;
    background:#600879;
}
.lyt-txt{
    text-align: center;
    margin-top: 20px;
    height: 80px;
    
}
.vid-sector{
    width: 100%;
    display: flex;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 30px;
    overflow-y: scroll;
    
}
.vid-sector .main-video{
background-color: #fffdfd;
border-radius: 5px;
padding: 10px;
width: 60%;

}
.vid-sector .main-video video{
    border-radius: 5px;
}
.vid-sector .main-video .vid-name{
    color: #600879;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}
.vid-sector .v-list::-webkit-scrollbar{
    width: 7px;
}
.vid-sector .v-list::-webkit-scrollbar-track{
    background: transparent;
    border-radius:50px;
}
.vid-sector .v-list::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius:50px;
}
.vid-sector .v-list{
    width: 30%;
    background-color:#f6f6f6 ;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}
.vid-sector .v-list .vid-track video{
    width: 100px;
    border-radius: 5px;
}
.vid-sector .v-list .vid-track{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(217,217,217,1);
    cursor: pointer;
}
.vid-sector .v-list .vid-track:hover{
    background: #b74fd4;
}
.vid-sector .v-list .vid-track:hover .vid-name{
color:white;
}
.vid-sector .v-list .vid-track.fyeah{
    background: #600879;
}
.vid-sector .v-list .vid-track.fyeah .vid-name{
    color:white;
}
.vid-cancel{
    position: absolute;
    right:20px;
    top:5px;
    color:rgb(191, 187, 209);
}
.vid-cancel i{
    font-size: 1.28rem;
}
.vid-cancel:hover{
    color: white;
}
.vid-bg{
    display: none;
}
.vid-active,
.vid-active .vid-bg{
    display:flex;
    animation: fade 0.3s;
}
.team .row{
    margin-top: 2rem;

}
.t-item{
    margin: 2rem 0;
}
.t-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: var(--bright);
    opacity:0;
    transition: var(--transition);
}
.t-img{
    position: relative;
    margin-right: 25%;
    margin-left: 25%;
}
.t-img img{
    height: 200px;

    background-position: center;
    background-size: contain; 
    border-radius: 50%;
  
    
    }
.t-icon a{
    color: var(--ghost-rider);
    width: 50px;
    height: 50px;
    transition: var(--transition);
}
.t-icon a:hover{
    background: var(--weed);
    color: #fff;
}
.t-img:hover .t-icon{
    opacity: 1;
}
.t-info{
    text-align: center;
    padding:1.5rem;
    line-height: 1;
}
.t-info h3{
    font-size: 1.4rem;
    color: var(--ghost-rider);
}
.t-info span{
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.7;
}
.k{ 
    color: orangered;  
}
.k:hover{
    color:purple;
}
.qstn{

    background: #f9f9f9;
}
.qstn .row{
    margin-top:2rem;
}
.qstn-item{
 margin: .8rem 0;
}
.qstn-head{
    background: var(--bright);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding:1.2rem 2rem;
}
.qstn-head h3{
    font-weight:300;
    opacity: 0.8;
}
.qstn-content{
    text-align: center;
    background: #fff;
    overflow: hidden;
    height:0;
    padding: 0 1.8rem;
    transition: var(--transition);
}
.text{
    margin:0.6rem 0;
    opacity:1;
    
}
.show-qstn-content{
    height: 168px;
    padding: 0.6rem 1.8rem;
}
.btn-3{
    border-radius: 2rem; 
    background: var(--weed);
    color: white;
    border: 3.5px solid;
    padding:0.8rem 2rem;
}
.btn-3:hover{
    background: purple;
}
textarea{
    text-align:center;
    justify-content: center;
    align-items: center;
margin: 0.2rem 0;

}
.price{
    top:0;
}
.price .row{
    margin-top:2rem;
    padding: 40px;
}
.price-item{
    border:2.5px solid #e2dfdf;
    text-align:center;
    padding:0.5rem 0;
    margin:0.4rem;
    width: 100px;
}
.price-item h2{
    color:var(--ghost-rider);
    opacity: 0.7;
    font-size: 1.5rem;
}
.price-item .ptag{
    padding:1rem 0 .5rem 0;
}
.price-item .ptag span{
    display: block;
}
.price-item .ptag span:first-child{
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: rgb(0, 110, 255);
}
.price-item .ptag span:last-child{
    font-size: 0.85rem;
    letter-spacing: 1;
    font-weight: 500;
}
.price-item ul li{
    padding: 0.8rem 0;
    opacity: 0.7;
    
}
.price-item ul{
    background: var(--bright);
    margin-top: 5%;
}
.oya{
    color: black;
}
.response{

background-size: cover;
background-repeat: no-repeat;
background-position:center ;
background-attachment: fixed;
}
.response .tittle h2,
.response .tittle{
color:#fff;
}
.response .row{
    margin-top: 2rem;
}
.response-img{
    border: 3px solid #fff;
    width:120px;
    height: 120px;
    border-radius:50%;
    margin: 1rem auto;
    padding: 0.5rem;
}
.response-img img{
    border-radius: 50%;
height: 100%;
}
.response-item{
    text-align: center;
}
.response-item p{
    font-size: 1.3rem;
    color:var(--bright);
    line-height: 1.7;
    margin-top:2rem ;
}
.response-item span{
    display: block;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    
}
.walai{
    color: black;
}
.ty{
    
line-height: 3;
}
.lol .row{
    margin-top:2rem;
}
.lol.row > div h2{
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.9;
}
.c-l{
    border: 1px solid #c6c3c3;
    padding: 20px;
    border-radius: 10px;
}
.c-r{
    border: 1px solid #c6c3c3;
    padding: 20px;
    border-radius: 10px;
}
.c-r form .fin{
    margin-top: 20px;
}
.c-r form input,
.c-r form textarea{
    width:90%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #c6c3c3;
    text-align: left;
}
.c-r form .jesu{
    margin-bottom: 20px;
}
.send-btn{
    margin: 1rem 0;
    border:none;
    font-size: 1.3rem;
    color: #fff;
    background: var(--weed);
    opacity: 0.9;
    padding: 0.8rem 3.4rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.send-btn:hover{
    background: var(--gothic);
}
.more,
.feature,
.price,
.video,
.team,
.qstn,
.response,
.lol{
    padding:6.5rem 0;
   overflow: hidden;
}
.container,
.box{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.tittle{
    padding: 0.6rem 0;
    text-align: center;
}

.tittle h2{
    font-size: 2.2rem;
    color: black;
}
.tittle .text{
 font-weight: 500;
 font-size: 1.1rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*cut-home end*/

  
footer{
    padding: 8vw;
    background-color: #e3dcdc;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
   

}
footer .hfooter{
    padding-bottom:40px;
    margin-right: 6%;
    width: 218px;
}
footer h3{
    color: black;
    font-weight: 600;
    padding-bottom: 15px;
}
footer li,
footer li a{
    list-style: none;
    color:#7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease;
}
footer div li a{
    text-decoration: none;
}
footer li a i{
    color: orangered;
    margin-right: 10px;
}
.hfooter li a:hover{
    color:#5c5e60; 
}
footer li a:hover i{
margin-right:20px ;
}
footer p{
    color:#7b838a
}
footer .subscribe{
    margin-top: 20px;
}
footer input{
    width:200px;
    padding: 15px 12px;
    background: WHITE;
    border:none;
    outline: none;
    color:black;
    margin-bottom: 20px;
}
footer .subscribe a{
    text-decoration: none;
    font-size: .9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
footer .subscribe a.yellow{
    color: #fff;
    background: orangered;
    transition: .3 ease;
}
footer .subscribe a.yellow:hover{
    color: rgb(21,21,100);
    background: white;
} 
footer .copyrighticons{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;width: 100%;
    flex-wrap: wrap;
}
.p-logo{
    display: flex;
    flex-direction: row;
}
.p-logo li{margin-right: 10%;}
.f-links{
    display: flex;
    justify-content: center;

}
.f-links a{
   color: white;
   opacity: 0.8;
   width:50px;
   height: 50px;
   transition: .3 ease;
   text-decoration: none;
 
}
.f-links a:hover{
    color: orangered;
}
/*scroll animation*/
.feature .anileft{
    position: relative;
    transform: translateX(-110px);
    opacity: 0;
    transition: all 1s ease-in;
}
.feature .anileft.leta{
    transform: translateX(0px);
    opacity: 1;
}
.feature .aniright{
    position: relative;
    transform: translateX(110px);
    opacity: 0;
    transition: all 1s ease-in;
}
.feature .aniright.itisha{
    transform: translateX(0px);
    opacity: 1;
}
.price .text{
    font-size: .9rem;
    opacity: .7;
    margin-bottom: 50px;
}
.price .anileft{
    position: relative;
    transform: translateX(-110px);
    opacity: 0;
    transition: all 1s ease-in;
}
.price .anileft.leta{
    transform: translateX(0px);
    opacity: 1;
}
.price .aniright{
    position: relative;
    transform: translateX(110px);
    opacity: 0;
    transition: all 1s ease-in;
}
.price .aniright.itisha{
    transform: translateX(0px);
    opacity: 1;
}
.video .anileft{
    position: relative;
    transform: translateX(-110px);
    opacity: 0;
    transition: all 1s ease-in;
}
.video .anileft.leta{
    transform: translateX(0px);
    opacity: 1;
}
.qstn .anibottom{
    position: relative;
    transform: translateY(74px);
    opacity: 0;
    transition: all 1s ease-in;
}
.qstn .anibottom.uptop{
    transform: translateY(0px);
    opacity: 1;
}
.lol .anibottom{
    position: relative;
    transform: translateY(74px);
    opacity: 0;
    transition: all 1s ease-in;
}
.lol .anibottom.uptop{
    transform: translateY(0px);
    opacity: 1;
}
.lol .aniright{
    position: relative;
    transform: translateX(110px);
    opacity: 0;
    transition: all 1s ease-in;
}
.lol .aniright.itisha{
    transform: translateX(0px);
    opacity: 1;
}
/*scroll end*/
.introd{
    background-image: linear-gradient(90deg,rgb(0, 247, 255),blue);
    width: 100%;
    height: 120px;
    background-size: 140%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.introd p{
    color: white;
    font-size: 1.5rem;
    padding-top:2rem;
}
.about-form,
.news-form,
.contact-form,
.tax-form,
.international-form,
.service-form,
.home-form{
    flex-direction: column;
}
.team-qualify{
    padding: 50px;
}
.gang_head,.gang_sub{
    text-align: center;
    justify-content: center;
}
.gang_head{
    font-size: 1.4rem;
    line-height: .4;
}
.gang_sub{
margin-bottom: 50px;
opacity: .8;
}
.team-qualify .inboxx:nth-child(odd){
    background-image: linear-gradient(90deg,rgb(0, 247, 255),rgb(153, 242, 255));
}
.team-qualify .inboxx:nth-child(even){
    border: 2px solid #fbd4f5;
    border-color:linear-gradient(90deg,rgb(0, 247, 255),rgb(183, 183, 242));
}
.ceo{
    display: flex;
    margin-bottom: 50px;
}
.ceo_img img{
    width: 300px;height: 300px;
    border-radius: 50%;
    margin: 41px;
 
}
.ceo_details{
margin-left: 20px;
margin-top: 41px;
margin-bottom: 41px;
margin-right: 41px;
}
.about-form .team-qualify div div h1{
    font-size: 1.4rem;
    line-height: 1rem;
    padding-bottom: 1rem;
}
.about-form .team-qualify div div h2{
    font-size: 1.1rem;
    line-height: 1.2rem;
    opacity: .7;
    padding-bottom: .7rem;
}
.ceo_details p{
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem;
}
.ceo_details h1{
font-weight: 70;
color:white;
}
.team-qualify .inboxx:nth-child(odd) .ceo_details h1{
    font-weight:600;
    color: white;
    }
.team-qualify .inboxx:nth-child(even) .ceo_details h1{
        font-weight: 600;
        color: black;
        }
.team-qualify .inboxx:nth-child(odd) .ceo_details h2{
    font-weight:600;
    color: purple;
    }
.team-qualify .inboxx:nth-child(even) .ceo_details h2{
        font-weight: 600;
        color: purple;
        }
.team-qualify .reveal{
    position: relative;
    transform: translateY(74px);
    opacity: 0;
    transition: all 2s ease-in-out;
}
.team-qualify .reveal.ona{
    transform: translateY(0px);
    opacity: 1;
}
.kk{
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    margin-top: 70px;
}
.kk h3{
    font-size: 1.4rem;
}
.kk p{
    font-size: 1rem;
    opacity: .8;
}
.note{
    margin-top: 50px; margin-left: 50px;margin-right:50px ; margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.note .hapatu{
    width:40%;
}
.note .hapatu h3{
    text-align: center;
    font-weight: 600;
}
.note .hapatu .l78{
    width:45px;
    margin:1.2rem auto;
    background: black;
    height: 2.5px;
}
.note .hapatu p{
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem;
    text-align: center;
}
.note .abt-img{
    width: 45%;
    margin-top: 47px;
}
.note .abt-img img{
    width: 100%;
}
.sv-body{
    background-color: var(--bright);
}
.sv-body .si1{
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow:0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow:0 1px 2px 0 rgba(90, 91, 95, 0.1);
}
.blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-right: 140px;
    padding-top: 140px;
    padding-left: 140px;
    
}
.blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
.blog img{
    width:100%;
    height: 300px;
    object-fit: cover;
}
.blog .blog-details{
    width: 50%;
}
.blog .blog-details p{
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem;  
}
.blog .blog-details H4{
    text-transform: uppercase;
}
.blog .blog-details a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.blog .blog-box .blog-details a:hover i{
    padding-left: 20px;
}
.blog .blog-box H1{
    position: absolute;
    top: 75px;
    left: 180px;
    font-weight: 700;
    color: #101C32;
    opacity: .5;
    font-size: 50px;
    z-index: -7;
}
.nyuria{
    display: none;
}
.hd-change .altH{
    color: rgb(0, 255, 251);
}
.cKaiga{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
   margin-top: 100px;
   margin-bottom: 140px;
}
.cKaiga .main-kaiga{
    width:60%;
}
.cKaiga .main-kaiga div a{
    text-decoration: none;
}
.cKaiga .mini-kaiga div div p a{
    text-decoration: none;
}
.cKaiga .main-kaiga .subject-kaiga{
    display: none;
}
.cKaiga .main-kaiga .subject-kaiga div h4{
   margin-top:25px;
}
.cKaiga .main-kaiga .subject-kaiga .hding{
    text-align: center;
}
.cKaiga .main-kaiga .subject-kaiga .hding h1{
    font-weight: 700;
    color: #101C32;
    opacity: .5;
    font-size: 50px;
    top: 270px;
    left: 550px;
    position: absolute;
    margin-bottom: 0;
}
.cKaiga .main-kaiga .change-kaiga .tengana{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;

}

.cKaiga .main-kaiga .change-kaiga .tengana .tengana-left a:hover i{
    color: orangered;
}
.cKaiga .main-kaiga .change-kaiga .tengana .tengana-right a:hover i{
   color: orangered;
    
}
.cKaiga .main-kaiga .related-kaiga img{
    width: 250px;
    height: 150px;

}
.cKaiga .main-kaiga .related-kaiga .related-kaiga-heading{
    text-align: center;
    font-weight: 700;  
    font-size: 1.4rem;
}
.cKaiga .main-kaiga .related-kaiga .related-kaiga-body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.cKaiga .main-kaiga .related-kaiga .related-kaiga-body .item1-kaiga,
.cKaiga .main-kaiga .related-kaiga .related-kaiga-body .item2-kaiga{
    display: flex;
    justify-content: space-evenly;
}
.cKaiga .main-kaiga .related-kaiga .related-kaiga-body .item1-kaiga .item1-kaiga-dtail,
.cKaiga .main-kaiga .related-kaiga .related-kaiga-body .item2-kaiga .item2-kaiga-dtail{
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
.cKaiga .item1-kaiga-dtail p,
.cKaiga .item2-kaiga-dtail p{
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem;  
}
.cKaiga .item1-kaiga-dtail h4,
.cKaiga .item2-kaiga-dtail h4{
    font-size: .9rem; 
}
.cKaiga .mini-kaiga{
    width:200px;
}
.cKaiga .mini-kaiga .recent-kaiga .recent-kaiga-details p a{
    font-size: .8rem;
}
.cKaiga .mini-kaiga .recent-kaiga .recent-kaiga-heading{
    font-weight: 700;
   margin-bottom: 30px;
   font-size: 1.4rem;
}
.cKaiga .mini-kaiga .recent-kaiga .recent-kaiga-details p a:hover{
color: orangered;
}
.cKaiga .mini-kaiga .rcomments-kaiga .rcomments-kaiga-heading{
    font-weight: 700;  
    margin-top: 40px; 
    margin-bottom: 30px;
    font-size: 1.4rem;
}
.cKaiga .mini-kaiga .rcomments-kaiga .rcomments-kaiga-details{
    line-height: 1.6rem;
    opacity: .7;
    font-size: .9rem;  
}
.cKaiga .mini-kaiga .archive-kaiga .archive-kaiga-heading{
    font-weight: 700;  
    margin-bottom: 30px;
    margin-top: 40px; 
    font-size: 1.4rem;
}
.cKaiga .mini-kaiga .archive-kaiga .archive-kaiga-details p a{
    font-size: .9rem;
}
.cKaiga .mini-kaiga .archive-kaiga .archive-kaiga-details p a i{
    margin-left: 30px;
    color: black;
    display: none;
    transition: all ease .3s;
}
.cKaiga .mini-kaiga .archive-kaiga .archive-kaiga-details p a:hover i{
    display: initial;
}
.cKaiga .mini-kaiga .categories-kaiga .categories-kaiga-heading{
    font-weight: 700;  
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 1.4rem; 
}
.cKaiga .mini-kaiga .categories-kaiga .categories-kaiga-details p a{
    font-size: .9rem;
}
.cKaiga .mini-kaiga .categories-kaiga .categories-kaiga-details p a i{
    margin-left: 30px;
    color: black;
    display: none;
    transition: all ease .3s;
}
.cKaiga .mini-kaiga .categories-kaiga .categories-kaiga-details p a:hover i{
    display: initial;
}
.cKaiga .mini-kaiga .meta-kaiga .meta-kaiga-heading{
    font-weight: 700;
    margin-bottom: 30px;  
    margin-top: 40px; 
    font-size: 1.4rem;
}
.cKaiga .mini-kaiga .meta-kaiga  .meta-kaiga-details p a{
    font-size: .9rem;
}
.cKaiga .mini-kaiga .meta-kaiga  .meta-kaiga-details p a i{
    margin-left: 30px;
    color: black;
    display: none;
    transition: all ease .3s;
}
.cKaiga .mini-kaiga .meta-kaiga  .meta-kaiga-details p a:hover i{
    display: initial;
}
.cKaiga .main-kaiga img{
    width:100%;
    height: 500px;
    object-fit: cover;
}
.back-page{
    margin-top:-20px;
    margin-bottom: 30px;
    
}
.kaiga-dtail p{
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem;   
}
.page-numbers{
    height: 50px;
    display: flex;
    justify-content: center;
}
.page-numbers ul{
    display: flex;
   flex-direction: row;
justify-content: center;
padding-top: 180px;
}
.page-numbers li{
    margin-top: 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 10px;
}
.page-numbers ul li a{
    text-decoration: none;
}
.page-numbers li a:hover{
    border-bottom: .1rem solid black;
}
.page-numbers .weeknd,
.page-numbers .weeknd1,
.page-numbers .weeknd2,
.page-numbers .weeknd3,
.page-numbers .weeknd4,
.page-numbers .weeknd5,
.page-numbers .weeknd6,
.page-numbers .weeknd7,
.page-numbers .weeknd8,
.page-numbers .weeknd9,
.page-numbers .weeknd10,
.page-numbers .weeknd11,
.page-numbers .weeknd12,
.page-numbers .weeknd13,
.page-numbers .weeknd14
{
    display: none;
}
.weeknd-active,
.weeknd-active .weeknd{
    display:flex;
    animation: fade 0.3s;
  

}
.weeknd1-active,
.weeknd1-active .weeknd1{
    display:flex;
    animation: fade 0.3s;
   
}
.weeknd2-active,
.weeknd2-active .weeknd2{
    display:flex;
    animation: fade 0.3s;
  
}
.weeknd3-active,
.weeknd3-active .weeknd3{
    display:flex;
    animation: fade 0.3s;

}
.weeknd4-active,
.weeknd4-active .weeknd4{
    display:flex;
    animation: fade 0.3s;

}
.weeknd5-active,
.weeknd5-active .weeknd5{
    display:flex;
    animation: fade 0.3s;
  
}
.weeknd6-active,
.weeknd6-active .weeknd6{
    display:flex;
    animation: fade 0.3s;
 
}
.weeknd7-active,
.weeknd7-active .weeknd7{
    display:flex;
    animation: fade 0.3s;
 
}
.weeknd8-active,
.weeknd8-active .weeknd8{
    display:flex;
    animation: fade 0.3s;
   
}
.weeknd9-active,
.weeknd9-active .weeknd9{
    display:flex;
    animation: fade 0.3s;
   
}
.weeknd10-active,
.weeknd10-active .weeknd10{
    display:flex;
    animation: fade 0.3s;
   
}
.weeknd11-active,
.weeknd11-active .weeknd11{
    display:flex;
    animation: fade 0.3s;
   
}
.weeknd12-active,
.weeknd12-active .weeknd12{
    display:flex;
    animation: fade 0.3s;

}
.weeknd13-active,
.weeknd13-active .weeknd13{
    display:flex;
    animation: fade 0.3s;
 
}
.weeknd14-active,
.weeknd14-active .weeknd14{
    display:flex;
    animation: fade 0.3s;
 
}

.year-change{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.year-change div li a{
    text-decoration: none;
}
.year-change div div a{
    text-decoration: none;
}
.old-nxt a:hover i{
    color: orangered;
}
.year-change .yr-pg3 .ltst-nws,
.year-change .yr-pg2 .ltst-nws
{
    margin-right: 10px;
}
.year-change .yr-pg1,
.year-change .yr-pg2,
.year-change .yr-pg3
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.year-change .yr-pg1 li,
.year-change .yr-pg2 li,
.year-change .yr-pg3 li
{
    margin-top: 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 10px;
}
.year-change .yr-pg1 li a:hover,
.year-change .yr-pg2 li a:hover,
.year-change .yr-pg3 li a:hover
{
    border-bottom: .1rem solid black;
}
.year-change .yr-pg1,
.year-change .yr-pg2,
.year-change .yr-pg3{
    display: none;
}
.yr-pg1-active,
.yr-pg1-active .yr-pg1{
    display:flex;
    animation: fade 0.3s;
}
.yr-pg2-active,
.yr-pg2-active .yr-pg2{
    display:flex;
    animation: fade 0.3s;
}
.yr-pg3-active,
.yr-pg3-active .yr-pg3{
    display:flex;
    animation: fade 0.3s;
}
.page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page7,
.page8,
.page9,
.page10,
.page11,
.page12,
.page13,
.page14,
.page15,
.page25,
.page26,
.page27,
.page37,
.page38,
.page39,
.page49,
.page50,
.page51,
.page61,
.page62,
.page63,
.page73,
.page74,
.page75,
.page85,
.page86,
.page87,
.page97,
.page98,
.page99,
.page109,
.page110,
.page111,
.page121,
.page122,
.page123,
.page133,
.page134,
.page135,
.page145,
.page146,
.page147,
.page157,
.page158,
.page159,
.page169,
.page170,
.page171
{
    display: none;
}

.page1-active,
.page1-active .page1{
    display:initial;
    animation: fade 0.3s;
}
.page2-active,
.page2-active .page2{
    display:initial;
    animation: fade 0.3s;
}
.page3-active,
.page3-active .page3{
    display:initial;
    animation: fade 0.3s;
}
.page4-active,
.page4-active .page4{
    display:initial;
    animation: fade 0.3s;
}
.page5-active,
.page5-active .page5{
    display:initial;
    animation: fade 0.3s;
}
.page6-active,
.page6-active .page6{
    display:initial;
    animation: fade 0.3s;
}
.page7-active,
.page7-active .page7{
    display:initial;
    animation: fade 0.3s;
}
.page8-active,
.page8-active .page8{
    display:initial;
    animation: fade 0.3s;
}
.page9-active,
.page9-active .page9{
    display:initial;
    animation: fade 0.3s;
}
.page10-active,
.page10-active .page10{
    display:initial;
    animation: fade 0.3s;
}
.page11-active,
.page11-active .page11{
    display:initial;
    animation: fade 0.3s;
}
.page12-active,
.page12-active .page12{
    display:initial;
    animation: fade 0.3s;
}

.page13-active,
.page13-active .page13{
    display:initial;
    animation: fade 0.3s;
}
.page14-active,
.page14-active .page14{
    display:initial;
    animation: fade 0.3s;
}
.page15-active,
.page15-active .page15{
    display:initial;
    animation: fade 0.3s;
}
.page25-active,
.page25-active .page25{
    display:initial;
    animation: fade 0.3s;
}
.page26-active,
.page26-active .page26{
    display:initial;
    animation: fade 0.3s;
}
.page27-active,
.page27-active .page27{
    display:initial;
    animation: fade 0.3s;
}
.page37-active,
.page37-active .page37{
    display:initial;
    animation: fade 0.3s;
}
.page38-active,
.page38-active .page38{
    display:initial;
    animation: fade 0.3s;
}
.page39-active,
.page39-active .page39{
    display:initial;
    animation: fade 0.3s;
}
.page49-active,
.page49-active .page49{
    display:initial;
    animation: fade 0.3s;
}
.page50-active,
.page50-active .page50{
    display:initial;
    animation: fade 0.3s;
}
.page51-active,
.page51-active .page51{
    display:initial;
    animation: fade 0.3s;
}
.page61-active,
.page61-active .page61{
    display:initial;
    animation: fade 0.3s;
}
.page62-active,
.page62-active .page62{
    display:initial;
    animation: fade 0.3s;
}
.page63-active,
.page63-active .page63{
    display:initial;
    animation: fade 0.3s;
}
.page73-active,
.page73-active .page73{
    display:initial;
    animation: fade 0.3s;
}
.page74-active,
.page74-active .page74{
    display:initial;
    animation: fade 0.3s;
}
.page75-active,
.page75-active .page75{
    display:initial;
    animation: fade 0.3s;
}
.page85-active,
.page85-active .page85{
    display:initial;
    animation: fade 0.3s;
}
.page86-active,
.page86-active .page86{
    display:initial;
    animation: fade 0.3s;
}
.page87-active,
.page87-active .page87{
    display:initial;
    animation: fade 0.3s;
}
.page97-active,
.page97-active .page97{
    display:initial;
    animation: fade 0.3s;
}
.page98-active,
.page98-active .page98{
    display:initial;
    animation: fade 0.3s;
}
.page99-active,
.page99-active .page99{
    display:initial;
    animation: fade 0.3s;
}
.page109-active,
.page109-active .page109{
    display:initial;
    animation: fade 0.3s;
}
.page110-active,
.page110-active .page110{
    display:initial;
    animation: fade 0.3s;
}
.page111-active,
.page111-active .page111{
    display:initial;
    animation: fade 0.3s;
}
.page121-active,
.page121-active .page121{
    display:initial;
    animation: fade 0.3s;
}
.page122-active,
.page122-active .page122{
    display:initial;
    animation: fade 0.3s;
}
.page123-active,
.page123-active .page123{
    display:initial;
    animation: fade 0.3s;
}
.page133-active,
.page133-active .page133{
    display:initial;
    animation: fade 0.3s;
}
.page134-active,
.page134-active .page134{
    display:initial;
    animation: fade 0.3s;
}
.page135-active,
.page135-active .page135{
    display:initial;
    animation: fade 0.3s;
}
.page145-active,
.page145-active .page145{
    display:initial;
    animation: fade 0.3s;
}
.page146-active,
.page146-active .page146{
    display:initial;
    animation: fade 0.3s;
}
.page147-active,
.page147-active .page147{
    display:initial;
    animation: fade 0.3s;
}
.page157-active,
.page157-active .page157{
    display:initial;
    animation: fade 0.3s;
}
.page158-active,
.page158-active .page158{
    display:initial;
    animation: fade 0.3s;
}
.page159-active,
.page159-active .page159{
    display:initial;
    animation: fade 0.3s;
}
.page169-active,
.page169-active .page169{
    display:initial;
    animation: fade 0.3s;
}
.page170-active,
.page170-active .page170{
    display:initial;
    animation: fade 0.3s;
}
.page171-active,
.page171-active .page171{
    display:initial;
    animation: fade 0.3s;
}
.paranoid{
    color:orangered;
    border-bottom: .1rem solid black;
}
.back-page{
    font-size: 1.4rem;
    font-weight: 600;
}
.back-page a:hover i{
    color: orangered;
}
.smoke_good{
    display: none;
}
.kkyt{
    display: none;
}
 
.contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 50px;
}
.location{
   width:50%; 
}

.location h3{
    opacity: .8;
}
.contact-details .location li{
    list-style: none;
}
.email-staff{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 70px;
    border: 1px solid #c6c3c3;
    padding:65px;
}
.email-staff form{
width:65%;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.email-staff form input,
.email-staff form textarea{
    width:100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #c6c3c3;
    text-align: left;
}
.email-staff form button{
    margin: 1rem 0;
    border:none;
    font-size: 1.3rem;
    color: #fff;
    background: #191b17;
    opacity: 0.9;
    padding: 0.8rem 3rem;
    border-radius: 2rem;
    transition: all 0.5s ease;
}
.email-staff form button:active{
    transform: scale(1.1);
}
.email-staff .talk-staff div{
    padding-bottom: 25px;
}
.email-staff .talk-staff div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.email-staff .talk-staff div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
.email-staff .talk-staff div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.int-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px; margin-left: 70px;margin-right: 70px;margin-bottom: 50px;
   
}
.ytu{
    width: 100%;
    
    background-image: linear-gradient(rgba(27,188,156,0.8), rgba(27,188,156,0.9)), url(../img/inter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
    padding-bottom: 150px;
}
.crcl1,.crcl2,.crcl3{
    width:385px;
}
.g11{
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid orangered;
    justify-content: center;
   align-items: center;
}
.wadetail{
    line-height: 2rem;
    color:white;
    text-align: center;
}
.waimg1 img,.waimg2 img,.waimg3 img{
    width: 200px;height: 200px;
    border-radius: 50%;
    margin: 41px 41px 41px 90px;
}
.maneno{
    width:45%;
   
}
.maneno h1{
    font-size: 1.8rem;
    margin-bottom: 0;
}
.maneno p{
    line-height: 2rem;
    opacity: .7;
    font-size: .9rem;
}
.kyu{
    width:40%;
}
.chainsmkrs{
    text-align: center;
}
.alwalker{
    text-align: center;
}
.up_vid{
    background-color:#f0f0f0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 70px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    row-gap: 70px;
    padding-bottom:50px 
}
.vmpango{
    display: flex;
    gap: 9px;
    padding-top: 5px;
    padding-left: 10px;
}

.yuk{
    padding:10px;
    width: 300px;
}
.yuk h1{
    font-size: 1rem;
}
.yuk p{
    font-size: .7rem;
}



@media screen and (min-width:768px){
    .more .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
    }
    .item-content{
        margin: 0;
    }
    .t-item{
        margin: 0;
    }
    .qstn .row{
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    .price .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 20px;
    }
    .price-item{
        margin: 0;
    }
    .response-item p{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
  
}
@media screen and (min-width: 992px){
    
    .btn-1{
        display: inline-block;
        margin-right: 0.8rem;
    }
    .feature .row .kadogo-about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
       
    }
    .lol .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}
@media screen and (min-width:1200px){
    .home-div h1{
        width: 70%;
        margin-left:auto;
        margin-right: auto;
    }
    .more .row{
        grid-template-columns: repeat(3, 1fr);
    }
    .price .row{
        grid-template-columns: repeat(2, 1fr);
        padding:50px;
     
       
       
    }
    .price-item{
        width: 80%;
    }
    .response-item p{
        width: 60%;
    }
    .lol .row{
        column-gap: 4rem;
    }
    .c-r{
        padding: 4rem!important;
    }
   
    
}

@media screen and (max-width:360px){
    

.sufuri .f-slider-text span{
    
    line-height: 10%;
}
.sufuri .f-slider-text strong{
    
    line-height: 20%;
}
   
}
@media screen and (max-width:370px){
    .blog .blog-box H1{
       left: 0;
       font-size: 15px;
        } 
}
@media screen and (max-width:420px){
    .st .full-slider-box{
        margin-top:15px ;
        min-height: 35vh;
    }
    
    .feature .aboutstart .divai img {
        height: 250px;
    }
    .feature .abouti .right {
        display: flex;
        flex-direction: column;  
    }
    .feature .abouti .right .serv-icon {
        margin-top: 30px;
    }
   .ceo_img img{
        width:20px;
        height:20px;
    }
}
@media screen and (max-width:408px){
    .icons li a {
        font-size: 20px;
    } 
}
@media screen and (max-width:479px){
    .login-form,
.signup-form{
    width:320px;
}
}
@media screen and (max-width:489px){
    .blog .blog-box H1{
        top: -120px;
        font-size: 40px;
    }
}
@media screen and (max-width:501px){
    .subscribe input{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:611px){
    .blog .blog-box H1{
       
        font-size: 60px;
        top: -180px;
    }
    
}
@media screen and (max-width:690px){
    .full-slider-box{
        min-height: 50vh;
    }
}
@media screen and (max-width:768px){
      .wabebe .f-slider-text span{
        font-size: .7rem;
        line-height: 150%;
       
      }
      .wabebe .f-slider-text strong{
       font-size: 100%;
       line-height: 300%;
      }
      .wabebe .m-btn{
          margin-top: 120px;
          margin-right: 0;
      }
      .f-slider-text span{
          font-size: 70%;
      }
      .f-slider-text strong{
          font-size: 90%;
          
      }
      
    #s-mbtn{
        margin-top: 280px;
    }
      
        .m-btn .f-slider-btn,
        .m-btn .f-btn{
            width: 100px;
            height: 30px;
          font-size: 50%;
            letter-spacing: 2px;
            margin-top: 14px;
            margin-right: 5%; 
        }.zzero .f-slider-text span{
            font-size: 70%;
            margin-left: 50px;
        }
        .zzero .f-slider-text strong{
            font-size: 70%;
          
        }
        .right{
            grid-template-columns: repeat(1, 1fr);
        }
     
         .sv-body{
            grid-template-columns: repeat(1, 1fr); 
          }
          .first-Taxation,
          .first-Audit,
          .first-Cloud,
          .first-Outsourcing{
              grid-template-columns: repeat(1,1fr);
        }
        .feature .aboutstart{
            display: flex;
           flex-direction: column;
        }
        .feature .aboutstart .abouti,
        .feature .aboutstart .divai{
            width:100%;
        }
}
@media screen and (max-width:773px){
    .page-numbers li{
       
        font-size: .8rem;
      
    }
}
@media screen and (max-width:840px){
    .email-staff{
        flex-wrap: wrap;
    }
    .contact-form .email-staff form{
     width: 90%;
  padding: 0;
    }
    .email-staff{ 
        padding:20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .contact-details{
        margin-right: 20px;
        margin-left: 20px;

    }
    .location{
        padding-left: 20px;
        margin-bottom: 50px;
    }
    .talk-staff{
        margin-left: 20px;
        margin-top: 20px;
    }
    .note{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .note .hapatu{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .note .abt-img{
        width: 100%;
    }
}
@media screen and (max-width: 992px){
  
    #x{
        display: initial;
        font-size: 1.6rem;
        left: 0;
        color:#555555;
    }
    #x:hover{
        color: orangered;
    }
    @keyframes y2{
        0%{
            right:0;
        }
        100%{
            right:-500px;
        }
    }
  
@keyframes kitty{
    0%{
        right:-500px;
    }
    100%{
        right : 0px;
    }
}
    .f-slider-text span{
        font-size: 70%;
    }
    .f-slider-text strong{
        font-size: 150%;
        }
        .m-btn .f-slider-btn,
        .m-btn .f-btn{
            width: 120px;
            height: 35px;
          font-size: 50%;
            letter-spacing: 2px;
            margin-top: 14px;
            margin-right: 5%; 
        } 
        .m-btn .f-btn{
            font-weight: 800;
        } 
        
    .wabebe .m-btn{
        margin-top: 34%;
        margin-right: 0;
    }
    .icons{
        margin-right:70px ;
    }
    .contact-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
   .contact-details .mapouter{
        width: 100%;
    }
   
    
    .location{
        width: 100%;
    }
   
    .email-staff form{
        width:45%;
        padding: 35px;
        }
  .int-detail{
            display: flex;
            flex-direction: column; 
        }
        .maneno,.kyu{
          width: 100%;  
        }
        .ceo,.Finance_manager,.Sales_manager,.Operation_manager,.Human_Resource{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
          .blog{
            padding: 100px 20px 0 20px;
        }
    .blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .blog .blog-img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .blog .blog-details{
        width: 100%;
    }
    .lol .row{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 2rem;
        padding: 2rem;
    }
    .c-l{margin-bottom: 50px;}
    .c-l .mwathani{
        height: 500px;
    }
    #s-mbtn{
        margin-top: 280px;
    }
    
   
}
@media screen and (max-width: 725px){
   body .p-14 .up_vid{
       
        grid-template-columns: auto;
        justify-content: center;
      
    }
    .blog .blog-box{
        padding-right: 40px;
        padding-left: 40px;
        
    }
    .blog .blog-box H1{
        font-size: 40px;
        text-align: center;
        top: 80px;
    }
    
   
}
@media screen and (max-width: 960px){
    .p-14 .up_vid{
       
        grid-template-columns: auto auto;
      
    }
    .cKaiga .main-kaiga .related-kaiga .related-kaiga-body{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
        background-image: url();
    }
    
}
@media screen and (max-width: 1100px){
    .cKaiga{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cKaiga .main-kaiga{
        width:80%;
    }
    
}
@media screen and (max-width: 1250px){
    .up_vid{
       
        grid-template-columns: auto auto auto;
      
    }
}

@media screen and (max-width:884px){
   .vid-sector{
       display: flex;
       grid-template-columns:1.5fr 1fr;
       flex-direction: column;
        } 
 
    .vid-sector .main-video{
        width: 90%;
    }
    .vid-sector .v-list{
        width: 90%;
    }
    .cKaiga .main-kaiga .subject-kaiga .hding h1{
        font-size: 35px;
        left: 60%;
        top: 290px;
    }
}
@media screen and (max-width:10000px){
   .cKaiga.smoke_good{
    display:none;
   }
}
@media screen and (max-width:1030px){
    .feature .abouti .right {
        gap: .7rem;
        
    }
 }
